@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto&display=swap');

body {
    background: black;
    color: rgb(220, 220, 220);
    font-family: 'Lato', sans-serif;
}

.main-container {
    margin: 5% 10%;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.front-page {
    width: 300px;
    margin: 35vh 0 0 0;
}

.header-menu {
    width: 280px;
}

.main-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.main-menu li {
    text-transform: uppercase;
}

.main-menu li:hover {
    border-bottom: 2px solid rgba(220, 220, 220, 0.5);
}

.front-page-title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
}

.front-page-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    margin: -20px 0 0 0;
}